[data-component="user-page"] {
    padding: 2rem;
    background: #ebebeb;
    min-height: 90vh;
    .user-page-container {
        background: #fff;
        padding: 3rem;
        height: 100%;
    }
    .user-field {
        margin-bottom: 2rem;
        width: fit-content;
        min-width: 20rem;
        height: 52px;
    }
    .user-form {
        flex-direction: column;
        display: flex;
    }
}
