@font-face {
    font-family: "ComfortaaRegular";
    src: url("/static/fonts/Comfortaa/Comfortaa-Regular.ttf") format("opentype")
}

@font-face {
    font-family: "ComfortaaBold";
    src: url("/static/fonts/Comfortaa/Comfortaa-Bold.ttf") format("opentype")
}

@font-face {
    font-family: "ComfortaaLight";
    src: url("/static/fonts/Comfortaa/Comfortaa-Light.ttf") format("opentype")
}