$header-color: #202833;
$black-color: #000;
$white-color: #fff;

$border-color: $header-color;

$common-btn: #c4c4c4;
$orange-btn: #ff5100;
$orange-border: #ff5100;


$active-item: #fa7638;
$content-background: #fafafa;

$announ-background: #f1faee;
$apply-background: #2c885c;
$main-background: #a8dadc;

$font-peralta: "Peralta", cursive;
$font-comfortaRegular: "ComfortaaRegular", regular;
$font-comfortaBold: "ComfortaaBold", bold;
$font-comfortaLight: "ComfortaaLight", light;

$big-fz: 48px;
$medium-fz: 36px;
$small-fz: 24px;
