$header-color: #1D3557;
$black-color: #000;
$white-color: #fff;

$common-btn: #C4C4C4;

$announ-background: #F1FAEE;
$apply-background: #2C885C;
$main-background: #A8DADC;

$font-peralta: 'Peralta', cursive;
$font-comfortaRegular: 'ComfortaaRegular', regular;
$font-comfortaBold: 'ComfortaaBold', bold; 
$font-comfortaLight: 'ComfortaaLight', light; 

$big-fz: 48px;
$medium-fz: 36px;
$small-fz: 24px;