[data-component="last-posts"] {
    margin-left: 1.5rem;
    padding: 1.5rem;
    background: white;
    .last-posts-item {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
