@import "../../styles/index.scss";

[data-component="main-page"] {
    background-color: $main-background;
    padding: 1rem 2rem;
    min-height: 89vh;
    display: flex;
    flex-direction: row;
}

.lastPosts-wrapper {
    display: none;
}

@include breakpoint(desktop) {
    .lastPosts-wrapper {
        max-width: 370px;
        display: block;
    }
}
