@import "../../styles/index.scss";

.loginFrom {
    padding: 0 25px;
    margin-top: 25px;
    .MuiGrid-item {
        padding: 8px 0 !important;
    }
}

.create-post-form {
    display: flex;
    flex-direction: column;
}
.dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    margin-bottom: 20px;
}
.create-post-form {
    & > * {
        margin: 1rem !important;
    }
}
[data-component='create-page'] {
    padding: 1rem;
    min-height: 90vh;
    background: $main-background;
    
    .create-title {
        padding-left: 1rem;
    }
    .create-wrapper {
        background-color: #fafafa;
    }
}