@import "../../styles/index.scss";

.loginFrom {
    padding: 0 25px;
    margin-top: 25px;
    .MuiGrid-item {
        padding: 8px 0 !important;
    }
}

.dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    margin-bottom: 20px;
}
.create-post-form {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    & > * {
        margin: 1rem !important;
    }
}
[data-component="create-page"] {
    padding: 1rem;
    min-height: 90vh;
    background: $main-background;

    .create-title {
        padding-left: 1rem;
    }
    .create-wrapper {
        background-color: #fafafa;
        padding: 3rem 5rem;
        max-width: 1400px;
        margin: auto;
    }
    .form-group {
        display: flex;
        align-items: center;
    }
    .form-label {
        width: 330px;
        font-weight: bold;
        margin-right: 5rem;
    }
    .form-input {
        width: 100%;
    }
    .form-input-description {
        padding: 1rem;
        width: 1110px !important;
    }
    .form-create-btn {
        display: flex;
        justify-content: flex-end;
    }
}
