@import "../../styles/index.scss";

.announ-wrapper {
    max-width: 900px;
    // min-width: 100%;

    // @include breakpoint(desktop) {
    //     width: 75%;
    //     min-width: 75%;
    // }
}
[data-component="announ"] {
    padding: 1rem;
    background-color: $announ-background;
    margin-bottom: 1rem;
    display: block;
    border-radius: 5px;

    @include breakpoint(mobile_landscape) {
        height: 200px;
        flex-direction: row;
        width: 100%;
        display: flex;
        align-items: stretch;
        min-height: 16rem;
    }
    .announ-top {
        margin-bottom: 1rem;
    }
    .announ-top-line {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: space-between;
    }
    .announ-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.5;
    }

    .announ-image {
        max-width: 100%;
        @include breakpoint(mobile_landscape) {
            width: 300px;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &:hover {
            cursor: pointer;
        }
    }

    .announ-content {
        padding: 0.1rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        @include breakpoint(mobile_landscape) {
            padding: 0.1rem 2rem;
            margin-top: 0;
        }

        .announ-title {
            &:hover {
                cursor: pointer;
            }
        }

        .announ-contacts {
            @include breakpoint(mobile) {
                flex-direction: row;
            }
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 1rem;
            // align-items: center;
        }
    }
    .announ-bottom-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
